!!!5
html(lang='en')
  head
    title= title
    script(src='/yui3?build/yui/yui-min.js')
    script
      YUI({
        comboBase: '/yui3?',
        combine: true,
        root: 'build/',
        groups: {
          contrib: {
            comboBase: '/yui3-contrib?',
            combine: true,
            root: 'build/',
            /**
             * pattern based module loading, combohandler won't always group these, for
             * example when there's a dep that needs calculated on the fly
             *
             * bar and baz will be comboloaded, but foo won't as it's not known about
             * until bar is loaded
             */
            patterns: {
              'my-': {},
              'mycss-': { type: 'css' }
            }

            /**

            // explicitly list the modules and deps, this improves combohandler bundling of
            // script requests for all
            modules: {
              'my-module-baz': {
              },
              'my-module-bar': {
                requires: ['my-module-foo']
              },
              'my-module-foo': {
              }
            }

            **/

          }
        }
      }).use('my-module-bar', 'my-module-baz', function (Y) {
      });
  body
    h1= title 
    p check the console...


