!!!5
html(lang='en')
  head
    title= title
    script(src='/yui3?build/yui/yui-min.js')
    script
      YUI({
        comboBase: '/yui3?',
        combine: true,
        root: 'build/',
        groups: {
          contrib: {
            comboBase: '/yui3-contrib?',
            combine: true,
            root: '/build/',
            modules: {
              'my-module-bar': {
                requires: ['widget', 'substitute', 'event-resize']
              },
              'my-module-foo': {
                requires: ['my-module-bar']
              }
            }
          }
        }
      }).use('widget', 'my-module-foo', function (Y) {
      });
  body
    h1= title 
    p check the console...
